body
	{
		background-image:url("/home/6CSE1/Downloads/bg2.jpg");
		background-repeat:repeat;
		background-attachment:fixed;
	}
	h1
	{
		color:maroon;
		margin-left:40px;
	}
	p
	{
		background-color:white;
		color:red;
		font-style:italic;
		font-family:georgia,garamond,serif;
		font-size:large;
		font-weight:600;
		direction:rtl;
		text-indent:20cm;
		text-align:left;
		text-shadow:5px 5px 2px black;
	}
	p.new
	{
		color:blue;
		font-size:large;
		font-weight:100;
		direction:rtl;
		text-align:left;
		text-decoration:line-through;
		text-transform:capitalize;
		text-shadow:5px 5px 8px red;
		
	}

	.new1
	{
		text-decoration:line-through;
		text-transform:capitalize;
		text-shadow:5px 5px 8px red;
		border-top-style:dashed;
		border-right-style:solid;
		border-bottom-style:dotted;
		border-left-style:solid;
		border-width:2px 10px 4px 20px;
		border-color:red green blue white;
		background-color:lightgrey;
	}
	  
	
	
